.container{
  align-items: center;
  display: flex;
  flex-direction: column;
}
.header{
  height: 100px;
  width: 100vw;
  text-align: center;
  font-size: 70px;
  color: #3399FF;
}
.select_area{
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 100px;
  margin: 20px 0;
  width: 80%;
}
.main_contents{
  width: 80%;
}
.profile_title{
  border-bottom: 1px solid #3399FF;
}

.sns_link{
  display: flex;
  justify-content: center;
}
.rails_tag{
  color: red;
}
.react_tag{
  color: #00BFFF
}
.firebase_tag{
  color: #f90
}
